body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-11xl: 30px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-7xl: 26px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #282828;
  --color-darkslategray: #21646f;

  /* Border radiuses */
  --br-8xs: 5px;
}
