.path-141-icon {
  position: absolute;
  top: -650.75px;
  left: 1px;
  width: 1921px;
  height: 4173.35px;
}
.evaluate-broadleaf-microservic {
  position: absolute;
  width: calc(100% + 1px);
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.for-java-spring {
  margin: 0;
}
.for-java-spring-container {
  position: absolute;
  width: calc(100% - 75px);
  bottom: 0;
  left: 0;
  font-size: var(--font-size-7xl);
  display: inline-block;
  height: 272px;
}
.intro {
  position: absolute;
  top: 371px;
  left: 142px;
  width: 925px;
  height: 444px;
  font-size: 55px;
}
.leaf-white-icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  width: 792.17px;
  opacity: 0.07;
}
.white-broadleaf-icon {
  position: absolute;
  top: 75px;
  left: calc(50% - 678.87px);
  width: 209.5px;
  height: 91.58px;
}
.footer-child {
  position: absolute;
  bottom: 69.88px;
  left: calc(50% - 680.49px);
  width: 1298px;
  height: 6px;
}
.copyright-2011,
.privacy-policy {
  position: absolute;
  bottom: 29.38px;
  left: calc(50% - 679.08px);
  display: inline-block;
  width: 413px;
}
.privacy-policy {
  left: calc(50% - 187.08px);
  width: 120px;
}
.commercial-license,
.services-terms,
.support-terms,
.terms-of-use {
  position: absolute;
  bottom: 29.38px;
  left: calc(50% - 27.08px);
  display: inline-block;
  width: 110px;
}
.commercial-license,
.services-terms,
.support-terms {
  left: calc(50% + 121.92px);
  width: 169px;
}
.services-terms,
.support-terms {
  left: calc(50% + 329.92px);
  width: 129px;
}
.services-terms {
  left: calc(50% + 497.92px);
}
.product {
  margin: 0;
  font-size: var(--font-size-xl);
}
.product-commerce-framework-mic {
  position: absolute;
  top: calc(50% - 94.69px);
  left: calc(50% - 675.39px);
  line-height: 28px;
}
.resources-customers-partners-b,
.solutions-headless-commerce-un {
  position: absolute;
  top: calc(50% - 94.69px);
  left: calc(50% - 351.07px);
  line-height: 28px;
  display: inline-block;
  width: 222px;
  height: 171px;
}
.resources-customers-partners-b {
  left: calc(50% - 38.74px);
}
.layer-1-icon {
  top: calc(50% - 171.69px);
  width: 137px;
  height: 23px;
  object-fit: cover;
}
.footer-inner,
.footer-item,
.layer-1-icon,
.sign-up-for {
  position: absolute;
  left: calc(50% + 204.92px);
}
.sign-up-for {
  top: calc(50% - 125.69px);
  font-size: var(--font-size-21xl);
  line-height: 44px;
  display: inline-block;
  width: 434px;
}
.footer-inner,
.footer-item {
  border-radius: var(--br-8xs);
}
.footer-item {
  top: calc(50% - 14.69px);
  background-color: var(--color-white);
  width: 301px;
  height: 58px;
}
.footer-inner {
  top: calc(50% + 48.31px);
  background-color: #5ca34f;
  width: 126px;
  height: 36px;
}
.submit {
  top: calc(50% + 57.31px);
  left: calc(50% + 234.92px);
  letter-spacing: 0.16px;
  font-weight: 500;
  width: 87px;
}
.by-signing-up,
.email-address,
.submit {
  position: absolute;
  display: inline-block;
}
.email-address {
  top: calc(50% + 5.31px);
  left: calc(50% + 225.92px);
  font-size: 18px;
  letter-spacing: 0.18px;
  font-weight: 500;
  color: #8b8a88;
  width: 228px;
}
.by-signing-up {
  top: calc(50% + 89.31px);
  left: calc(50% + 204.92px);
  letter-spacing: 0.16px;
  line-height: 28px;
  width: 413px;
}
.facebook-icon,
.linkedin-icon,
.twitter-icon,
.youtube-icon {
  position: absolute;
  top: calc(50% + 157.31px);
  left: calc(50% + 302.92px);
  width: 28px;
  height: 27px;
}
.facebook-icon,
.linkedin-icon,
.youtube-icon {
  left: calc(50% + 351.92px);
}
.facebook-icon,
.linkedin-icon {
  left: calc(50% + 253.92px);
}
.facebook-icon {
  left: calc(50% + 205.92px);
}
.footer {
  position: absolute;
  bottom: 475.25px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 2108.17px;
  height: 555.38px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.name,
.request-free-developer {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}
.request-free-developer {
  width: calc(100% - 66px);
  top: calc(50% - 387.71px);
  left: 34.5px;
  font-size: var(--font-size-13xl);
}
.name {
  top: calc(50% - 247.61px);
  left: 34px;
  width: 165px;
}
.group-child {
  position: absolute;
  width: calc(100% - 105.9px);
  top: calc(50% - 174.75px);
  right: 73.15px;
  left: 32.75px;
  max-width: 100%;
  overflow: hidden;
  height: 2.39px;
}
.email {
  position: absolute;
  top: calc(50% - 30px);
  left: 34px;
  font-weight: 600;
  display: inline-block;
  width: 165px;
}
.group-item {
  position: absolute;
  width: calc(100% - 105.9px);
  top: calc(50% + 43.75px);
  right: 73.15px;
  left: 32.75px;
  max-width: 100%;
  overflow: hidden;
  height: 2.61px;
}
.company {
  position: absolute;
  top: calc(50% + 188.71px);
  left: 34px;
  font-weight: 600;
  display: inline-block;
  width: 165px;
}
.group-inner {
  position: absolute;
  width: calc(100% - 107.14px);
  top: calc(50% + 262.46px);
  right: 74.39px;
  left: 32.75px;
  max-width: 100%;
  overflow: hidden;
  height: 1.61px;
}
.path-139-icon {
  position: absolute;
  bottom: 75.05px;
  left: calc(50% - 129px);
  width: 249.28px;
  height: 79.98px;
}
.request-credentials {
  position: absolute;
  bottom: 106.03px;
  left: calc(50% - 105px);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 203px;
}
.indicates-required-fields-by-container {
  position: absolute;
  width: calc(100% - 96px);
  top: calc(50% + 344.39px);
  left: 48.5px;
  white-space: pre-wrap;
  display: inline-block;
}
.request-free-developer-evaluat-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.53);
}
.demo-sign-up {
  position: absolute;
  top: 342px;
  right: 133px;
  width: 654px;
  height: 1275px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.header-child {
  position: absolute;
  width: 100%;
  right: 1px;
  bottom: -1px;
  left: -1px;
  max-width: 100%;
  overflow: hidden;
  height: 4px;
}
.services,
.solutions1 {
  position: absolute;
  top: calc(50% + 10.25px);
  left: calc(50% - 440.75px);
}
.services {
  left: calc(50% - 162.75px);
}
.dev-central,
.industries,
.product1,
.resources1 {
  position: absolute;
  top: calc(50% + 10.25px);
  left: calc(50% - 303.75px);
}
.dev-central,
.product1,
.resources1 {
  left: calc(50% - 34.75px);
}
.dev-central,
.resources1 {
  left: calc(50% + 92.25px);
}
.dev-central {
  left: calc(50% + 236.25px);
}
.arrow-icon,
.arrow-icon1,
.arrow-icon2,
.arrow-icon3,
.arrow-icon4 {
  position: absolute;
  top: calc(50% + 19.75px);
  left: calc(50% - 362.14px);
  width: 10.12px;
  height: 6.12px;
}
.arrow-icon1,
.arrow-icon2,
.arrow-icon3,
.arrow-icon4 {
  left: calc(50% - 218.88px);
}
.arrow-icon2,
.arrow-icon3,
.arrow-icon4 {
  left: calc(50% - 91.65px);
}
.arrow-icon3,
.arrow-icon4 {
  left: calc(50% + 35.58px);
}
.arrow-icon4 {
  left: calc(50% + 179.84px);
}
.grey-broadleaf-icon {
  position: absolute;
  top: calc(50% - 11.75px);
  left: 173.5px;
  width: 126px;
  height: 55.08px;
}
.header {
  position: absolute;
  top: 0;
  left: -10.5px;
  background-color: var(--color-white);
  width: 1932.5px;
  height: 151.5px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.access-the-demo {
  position: absolute;
  width: calc(100% - 40px);
  top: calc(50% - 9px);
  left: 21px;
  display: inline-block;
}
.demo-cta {
  position: absolute;
  top: 63px;
  right: 255px;
  background-color: #5ba34f;
  width: 180px;
  height: 56px;
  font-size: 14px;
  color: var(--color-white);
}
.getting-started-with {
  text-decoration: underline;
}
.getting-started-with-broadleaf {
  color: inherit;
}
.the-broadleaf-evaluation-container {
  position: absolute;
  top: 3039px;
  left: 221.5px;
  font-size: var(--font-size-7xl);
  line-height: 33px;
  display: inline-block;
  width: 1515px;
  height: 377px;
}
.why-broadleaf-microservices {
  position: absolute;
  top: 2050px;
  left: 669px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.begin-evaluating,
.prepare-your-local,
.submit-request-for {
  position: absolute;
  top: 890px;
  left: 338px;
  font-weight: 500;
  display: inline-block;
  width: 424px;
}
.begin-evaluating,
.prepare-your-local {
  top: 1253px;
  width: 391px;
}
.begin-evaluating {
  top: 1446px;
  left: 329px;
  width: 256px;
}
.layer-5-icon {
  position: absolute;
  top: 1243px;
  left: 203px;
  width: 116px;
  height: 75px;
  object-fit: cover;
}
.artwork-170-icon,
.evaluate-icon {
  position: absolute;
  top: 877px;
  left: 218px;
  width: 87px;
  height: 92.88px;
}
.evaluate-icon {
  top: 1428px;
  left: 208px;
  width: 107px;
  height: 107px;
  object-fit: cover;
}
.avatar-circle-icon {
  position: absolute;
  top: 371px;
  left: 1372px;
  width: 157.2px;
  height: 157.2px;
}
.download-the-compatible,
.open-the-project,
.submit-the-form {
  position: absolute;
  top: 926px;
  left: 338px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 643px;
}
.download-the-compatible,
.open-the-project {
  top: 1289px;
}
.open-the-project {
  top: 1482px;
  left: 329px;
}
.check-your-email,
.check-your-email1 {
  position: absolute;
  left: 338px;
  display: inline-block;
}
.check-your-email {
  top: 1066px;
  font-weight: 500;
  width: 298px;
}
.check-your-email1 {
  top: 1102px;
  font-size: var(--font-size-xl);
  width: 643px;
}
.email-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.email1 {
  position: absolute;
  top: 1056.97px;
  left: 219px;
  width: 84.86px;
  height: 65.03px;
}
.how-will-this {
  position: absolute;
  top: 2920px;
  left: 607.5px;
  font-size: 35px;
  font-weight: 600;
  display: inline-block;
  width: 691px;
}
.layer-1-icon1,
.mlb-logo-icon,
.oreilly-icon {
  position: absolute;
  top: 1821px;
  left: 748px;
  width: 243px;
  height: 100px;
  object-fit: cover;
}
.layer-1-icon1,
.mlb-logo-icon {
  top: 1834px;
  left: 1067px;
  width: 327px;
  height: 74px;
}
.mlb-logo-icon {
  top: 1828px;
  left: 101px;
  width: 166px;
  height: 86px;
}
.trusted-by-brands {
  position: absolute;
  top: 1719px;
  left: 724px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  display: inline-block;
  width: 486px;
}
.artwork-102-icon,
.layer-0-icon {
  position: absolute;
  object-fit: cover;
}
.artwork-102-icon {
  top: 1845px;
  right: 61px;
  width: 390px;
  height: 53px;
}
.layer-0-icon {
  top: 1833px;
  left: 343px;
  width: 330px;
  height: 77px;
}
.ecommerce-built-for {
  position: absolute;
  top: 449px;
  left: 146px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  display: inline-block;
  width: 815px;
}
.web-1920-1-child {
  position: absolute;
  top: 2162px;
  left: 160px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.55);
  width: 469px;
  height: 612px;
}
.extreme-extensibility {
  position: absolute;
  top: 2408px;
  left: 225px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  display: inline-block;
  width: 340px;
  height: 52px;
}
.from-the-application {
  position: absolute;
  top: 2501px;
  left: 215px;
  font-size: var(--font-size-9xl);
  display: inline-block;
  width: 360px;
}
.web-1920-1-inner,
.web-1920-1-item {
  position: absolute;
  top: 2162px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.55);
  width: 469px;
  height: 612px;
}
.web-1920-1-item {
  left: 745px;
}
.web-1920-1-inner {
  right: 122px;
}
.made-for-product-container {
  position: absolute;
  top: 2397px;
  left: 810px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 340px;
  height: 83px;
}
.deploy-a-framework {
  position: absolute;
  top: 2501px;
  left: 800px;
  font-size: var(--font-size-9xl);
  display: inline-block;
  width: 360px;
}
.deployment-flexibility {
  position: absolute;
  top: 2408px;
  right: 170px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  display: inline-block;
  width: 371px;
  height: 52px;
}
.cloud-native-with-on {
  position: absolute;
  top: 2501px;
  right: 176px;
  font-size: var(--font-size-9xl);
  display: inline-block;
  width: 360px;
}
.layer-6-icon {
  position: absolute;
  top: 2201px;
  right: 273px;
  width: 165px;
  height: 172px;
  object-fit: cover;
}
.layer-7-icon,
.layer-9-icon {
  position: absolute;
  top: 2211px;
  left: 920px;
  width: 178px;
  height: 152px;
  object-fit: cover;
}
.layer-9-icon {
  top: 2214px;
  left: 324px;
  width: 133px;
  height: 146px;
}
.web-1920-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4497px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
